.on-center {
    text-align: center;
}

.field {
    &-group {
        margin: 15px 0 35px;
    }

    &-label, label {
        font-weight: bold;
    }

    &-select {
        width: 100% !important;
    }
}

.flex {
    display: flex;
    align-items: center;
}
